/* form{
margin: auto;
width:30%;

} */

h1{
position: relative;
left: 20%;
color: rgb(4, 138, 64);
font-family: Georgia, Times, 'Times New Roman', serif;
}

body{

  background: url(../css/images/tucson.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}

button{
 background-color: red;
}

/* select{
  position: relative;
  margin-top:  10px;
} */

.navbar {
  width: 100%;
}

/* .card-body{
  background-color: rgb(84, 207, 255);
  color: white;
} */

/* .weather-display{
  margin: 2px 0 5px 0;
    font-size: 2em;
    color: white;

} */

#map{
  min-height: 600px;
}

#map, #weather-div, #results, .inputs{
  width: 90%;
  margin: 0 auto;
}

#weather-div{
  margin-bottom: 30px;
}

.ap-dropdown-menu{
  text-align: left;
}

.dropdown{
  width: 100%;
}