form{
margin: auto;
width:30%;

}

h1{
position: relative;
left: 20%;
color: rgb(4, 138, 64);
font-family: Georgia, Times, 'Times New Roman', serif;
}

body{

  background: url(../css/images/tucson.jpg);
  
}

button{
 background-color: red;
}

select{
  position: relative;
  margin-top:  10px;
}

.navbar {
  width: 100%;
}

