
.active, .btn:hover {
    background-color: #666;
    color: #fffb00;
    cursor: pointer;
}
form{
margin: auto;
width:30%;

} 

body{

  background: url(../css/images/tucson.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}

#title{
  position: relative;
  left: 20%;
  color: rgb(4, 138, 64);
  font-family: Georgia, Times, 'Times New Roman', serif;
}


button{
 background-color: red;
}

.navbar {
  width: 100%;
} 



#map{
  min-height: 24em;
}

.jumbotron{
  padding: 12px;
  margin-top: 20px;
  background:#36264a;
}

.card-img-overlay{
  color: #f8f9fa;
  font-weight: bolder;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3{
  text-align: center;
}
#weather-condition{
  opacity: 0.6;
  height: 200px;
}

span{
  margin-right: 1px;
  font-size: 17.5px;
}
.RES{
  margin-bottom: 20px;
}

.results{
  padding: 0;
  border: #36264a;
  margin-bottom: 20px;
}

#result-img{
  height: 100%;
}
